<br>
<table class="table">
  <th>Breeds</th><th>Number of Pets</th>
  <% @breeds_pluralized.each do |breed| %>
    <tr>
      <td><%= link_to breed, "/breeds/#{breed.gsub(' ','_').downcase}" %></td>
    </tr>
  <% end %>
</table>
