<h4>Add Pet for Adoption</h4>
<br>
<%= render partial: 'form', locals: { path: "/shelters/#{@shelter_id}/pets",
                                      method: :post,
                                      button_text: 'Add Pet'
                                    } %>
