<h4>Add Review</h4>
<br>
<%= render partial: 'form', locals: { path: "/shelters/#{@shelter_id}/reviews/new",
                                      method: :post,
                                      button_text: 'Add Review'
                                    } %>
